.header {
    height: 120px;
    padding: 2px 16px;
    padding-bottom: 4px;
    background-color: white;
}

.titleClass{
  text-align: center;
}

.titleClassImage{
    float: left;
    background-image: url(../images/LogoHorizontal.png);
    background-repeat: no-repeat;
    background-size: 507px 98%;
    height: 75%;
    width: 507px;
    z-index: 1;
}


@media only screen and (max-width: 507px) {
  .titleClassImage {
    background-image: url(../images/LogoHorizontal.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 75%;
    width: 100%;
    z-index: 1;
  }
}

@media only screen and (max-width: 507px) {
  .titleClassImage {
    float: right;
    background-image: url(../images/amazonaffiliate.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 175px;
    height: 30px;
    display: inline-block;
    z-index: 1;
  }
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}