.onmouseoverProductItem {
    cursor: pointer;

}

.card-group{
margin: 5%
}

.onmouseclickProductItem {
    border-color: blue !important;
    border-width: 1px;
}

.product {   
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
	flex: 1 0 0%;
}